$azul: #4063ec;
$topaz: #1ccdcc;
$white: #fff;
$darkbg: #1f2437;
$bg-grey: #f5f5f5;
$line: #e0e0e0;
$black: #222;
$warm-grey: #707070;
$brownish-grey: #666;
$pinkish-grey: #ccc;
$pale-grey: #eff1f8;
$dim: #000;
$purple: #6e58ff;