// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1200px;

// font
$font-default: "Noto Sans CJK KR", "Roboto", sans-serif;

// width
$max-width: 1260px;

$headerH: 120px;
$headerH_MO: 60px;

$mainImgPath: "../../../public/images/main/";
$mbComPdx: 15px;